header {
    display: flex;
    justify-content:space-between;
    margin: -7.5px -7.5px;
}

.header-container {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
    font-family: sans-serif;
    margin-left: 1.5em;    
}

.header-container p {
    margin-top: -26px;
    margin-left: -7px;
    font-size: 14px;
    text-transform: uppercase;
}

.header-container h1 {
    color: purple;
    font-weight: 400;
    font-size: 50px;
    cursor: pointer;
}


header ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin-right: 3%;
    margin-top: 3%;
    font-weight: 600;
}

header ul li {
    cursor: pointer;
}

header ul li:hover {
    transition: 300ms ease-in-out;
    color: purple;
    text-decoration: underline;
}