html {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

body {
    display: flex;
    align-items: center;
    margin-top: 14%;
    flex-direction: column;
}

main {
    height: 250px;
    width: 450px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.75);
    z-index: 2;
    
    }

label {
    font-weight: 900;
    font-family: sans-serif;
;
}

.inner-container {
    margin-bottom: 15px;
    position: relative;
    right: 22%;
}

input {
    border-radius: 4px;
    padding: 8px 25px;
}

button {
    background-color: #1a1a1a;
    color: whitesmoke;
    border: 0px;
    padding: 9px 13px;
    border-radius: 4px;
    font-weight: 900;
    cursor: pointer;
    position: relative;
    right: 22%;

}

#secondInput {
    padding-left: 10px;
}

#secondLabel {
    margin-right: 5px;
}

.mini-container {
    background-color: #f6f6f6;
    width: 100px;
    height: 40px;
    position: relative;
    bottom: 52%;
    border: 1px solid black;
    border-radius: 3px;    
    display: flex;
    align-items: center;
    text-indent: 30%;
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
    right: 1px;
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.75);
    top: -126px;
}

#icon {
    position: absolute;
    z-index: 2;
    top: 9px;
    left: 100px;
}

@media screen and (max-width: 450px) {
    .mini-container {
        width: 150px;
    }

    main {
        width: 100%;
    }
    #icon {
        top: 55%;
        left: 4%;
    }
    #secondInput {
        right: 2px;
    }
}
