@media (max-width: 600px) {

    .options {
        flex-direction: column;
        align-items: center;
    }

    .div-header {
        display: none;
    }

    .options article {
       width: 100%;
       text-align: center;
    }

    h1 {
       font-size: 35px;
    }

    .options a { 
        display: none;
    }
    
    .gallery {
       flex-direction: column;
       align-items: center;
    }

    .gallery article a {
        display: none;
    }

    .blog-article h4 span {
        display: none;
    }

    .blog-title a {
        display: none;
    }

    .blog article img {
        display: none;
    }

    #about-blog {
        width: 90%;
    }

    .blog-title h4 {
        font-size: 30px;
    }

    .magazine-title a {
        display: none;
    }

    .magazine-title h4 {
        font-size: 25px;
    }

    .magazine article {
        flex-direction: column;
        align-items: center;
    }

    main h2 {
        margin-top: 60px;
    }

    #magazine-img {
        margin-left: 17%;
    }

    .magazine-info img {
        margin-left: -65px;
        width: 120%;
    }

    h3 {
        text-align: center;
        margin-bottom: 35px;
    }

    button {
        position: relative;
        left: 220px;
    }

    footer {
        flex-direction: column;
    }

    .icons {
        display: flex;
        flex-direction: column;
    }

}



   